/** CSS STYKE FOR HEADER MAIN, ROWTWOHEADER **/
/*** ROW STYLE ***/
.rowStyle {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
}

.rowStyle a{
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    font-family: roboto_slabregular,Georgia,Times,Arial,Helvetica,sans-serif;
    position: relative; 
    display: inline-block; 
    line-height: var(--header-height);
}

/*** ROW ONE STYLE ***/
.rowOneColor{
    background-color: black;
}

.rowOneColor a{
    color: white;
}

.logomid  {
    color: black;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.leftMenu .active{
    box-shadow: inset 0 -3px 0 0 white;
}

.hiddenMenu {
    display: none;
  }

/*** ROW TWO STYLE ***/
.rowTwoColor  {
    border-bottom: 1px solid #ccc;
    margin-top: 60px; 
    background-color: white;
}

.rowTwoColor a {
    color: black;
}

.rowTwoHover a::after {
    content: ""; 
    height: 1.5px; 
    position: absolute;
    bottom: 0; 
    left: 50%; 
    width: 0; 
    background-color:#b40019; 
    transition: all 0.4s linear; 
    transform: translateX(-50%); 
}

.rowTwoHover a:hover::after {
    width: 100%; 
    left: 0; 
    transform: none; 
}



@media (max-width: 1500px) {
    .shrink1400 a{
        font-size: 15px;
    }
}

@media (max-width: 1180px) {
    .shrink1180 {
        flex-direction: column; 
        height: auto; 
    }

    .media-1180 {
        display: block; 
        width: 100%; 
    }

    .shrink1180 app-searchbar {
        width: 100%; 
        margin-top: 5px; 
        margin-bottom: 5px;
    }
}