<div class="footer-container">
<!--  FOOTER-CUSTOMER-CHAT  -->
    <div class="chat">
        <h2>Our service is here for you</h2>
        <p>Didn't you call? Contact us again: Monday - Friday from 09:00 to 17:00. <a class="learn-more">Learn more</a></p>
        <img class="img-size" src="../../assets/photos/btns/chat.png" alt="Chat">
        <button type="button" class="btn">Start Chat</button>
    </div>
<!--  FOOTER-INFORMATION-CONTACT  -->
  <div class="customer-information">
    <div class="customer-service">
        <div class="servis-container">
            <P>Customer service</P>
            <a>Help</a>
            <a>Conditions for returning goods</a>
            <a>Return of goods</a>
            <a>General information about sizes</a>
        </div>
    </div>
    <div class="offers">
        <div class="servis-container">
            <P>Offers for you</P>
            <a>Competition</a>
            <a>Order gift vouchers</a>
        </div>
    </div>
    <div class="about-us">
        <div class="servis-container">
            <P>About EMP</P>
            <a>Sustainability</a>
        </div>
    </div>
  </div>
</div>
  <!-- FOOTER-SOCIAL-LINKS -->
<div class="full-width-background">
    <div class="links-container">
        <h2>Become part of the community!</h2>
        <div class="social-media">
            <button class="social-btn">
                <img src="../../assets/photos/btns/facebook-black.png" alt="facebook" class="img-size color-filter fb-hover">
            </button>
            <button class="social-btn">
                <img src="../../assets/photos/btns/instagram.png" alt="instagram" class="img-size color-filter ins-hover">
            </button>
            <button class="social-btn">
                <img src="../../assets/photos/btns/youtube.png" alt="youtube" class="img-size color-filter yt-hover">
            </button>
            <button class="social-btn">
                <img src="../../assets/photos/btns/spotify.png" alt="spotify" class="img-size color-filter spotify-hover">
            </button>
        </div>
    </div>
</div>

