.regform-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.user-info {
    padding-top: 30px;
    padding-bottom: 20px;

}

.gender-row input {
    margin-right: 3px;
}

.gender-row span {
    padding-right: 20px;
}

.name-container {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.name-input-container {
    width: 200px;
}

.name-input-container input {
    overflow: hidden;
    outline: none; 
    padding: 5px;
}

.email-contaier {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.email-contaier input {
    flex: 1;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.news-check {
    flex-shrink: 1;
}

.news-check input {
    margin-right: 3px;
}

.newsletter-info {
    display: none;
}

.arrow-down {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.additiona-info {
    font-size: 13px;
}

.optional-text {
    color: #666;
}

.birthday-container {
    padding-top: 20px;
}

.birthday-container select{
    cursor: pointer;
}

.birthday-selector select {
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;
}

.tel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.tel-container input{
    width: 200px;
    height: 40px;
    padding: 5px;
    overflow: hidden;
    outline: none;
}

.business-conditions {
    padding-top: 20px;
}

.business-conditions a {
    color: inherit;
}

.submit-btn{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border: 1px solid #003c00;
    background: #006d1c;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #003c00;
}

.back-to-login {
    margin-top: 10px;
}

.back-to-login a {
    color: inherit;
}

.error-border {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 13px;
}