<div class="rowStyle rowTwoColor rowTwoHover shrink1400 shrink1180">
    <div class="media-1180" >
      <a id="clothing" href="">Clothing</a>
      <a id="accessproes" href="">Accessproes</a>
      <a id="jewellery" href="">Jewellery</a>
      <a id="shoes" href="">Shoes</a>
      <a id="fun" href="">Fun products</a>
      <a id="plus" href="">Plus size</a>
      <a id="topbrands" href="">Top Brands</a>
      <a id="empbrands" href="">Brands by EMP</a>
      <a id="topics" href="">Topics</a>
      <a id="young" href="">Young Rebels</a>
  </div>
  <app-searchbar></app-searchbar>
</div>
