<!-- iMPORT BOOTSTRAP CARDS -->
 <div class="cards-container">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/photos/noir-8245874_640.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Noir Harry</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, dolores? Itaque iusto eos, voluptates sapiente odio nostrum recusandae facere numquam aut earum impedit quia et.</p>
        <a href="#" class="btn btn-primary btn-color">Order now!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/photos/star-wars-1680799242.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Star wars</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo numquam dignissimos libero voluptates. Dolore aliquam excepturi doloremque impedit quasi placeat.</p>
        <a href="#" class="btn btn-primary btn-color">Order now!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/photos/ai-generated-8928209_1280.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Lord of the ring</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente ab ducimus omnis, cupiditate voluptas?</p>
        <a href="#" class="btn btn-primary btn-color">Order now!</a>
        </div>
    </div>
</div>
