.header-container {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 2rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.row-one-header  {
    background-color: black;
}

.row-one-header a {
    text-decoration: none;
    color: white;
}

.row-one-header a.active {
    color: white;
    border-bottom: 2px solid white;
  }

.logomid {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logomid img {
    cursor: pointer;
}

.rightmenu {
    display: flex;
    justify-content: flex-end;
}

.gap-menu a{
    margin-right: 1rem;
}

.row-two-header {
    display: flex; 
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: row;
    gap: 1rem; 
    width: 100%;

}

.row-two-header a {
    position: relative;
    text-decoration: none;
    color: black;
}

.row-two-header a::after {
    content: ""; 
    height: 1.5px; 
    position: absolute;
    bottom: 0; 
    left: 50%; 
    width: 0; 
    background-color: #b40019; 
    transition: all 0.4s linear; 
    transform: translateX(-50%);
}

.row-two-header a:hover::after {
    width: 100%; 
}

.search-bar {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

/** REACTIVE CSS **/
.lower-size a {
    font-size: 0.8rem;
}

.search-bar-down { 
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.063rem;
}

.search-bar-down .row-two-header {
    flex-direction: row; 
    width: 100%; 
    justify-content:left;
}

.search-bar-down .search-bar {
    display: block; 
    width: 100%; 
}