.teaser-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem; 
    width: 100%; 
}

.teaser-box {
    width: 100%; 
    max-width: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.text-info span {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.text-info a {
    color: black;
}

.text-info a:hover {
    text-decoration: none;
}


.picture {
    width: 100%; 
    height: 338px; 
}