<div class="teaser-container">
    <div class="teaser-box">
        <img src="../../../assets/photos/teaser/christmas-shirt.jpg" class="picture">
        <div class="text-info">
            <span>Christmas is around the corner</span>
            <a href="">earn now!</a>
        </div>
    </div>

    <div class="teaser-box">
        <img src="../../../assets/photos/teaser/santa-german-santa-claus-christmas-event-christmas-eve-1600528-pxhere.com.jpg" class="picture">
        <div class="text-info">
            <span>There is no reason for it to be cold!</span>
            <a href="">Stay warm, stay cool!</a>
        </div>
    </div>

    <div class="teaser-box">
        <img src="../../../assets/photos/teaser/woman.jpg" class="picture">
        <div class="text-info">
            <span>Best of 2024</span>
            <a href="">Order now!</a>
        </div>
    </div>

    <div class="teaser-box">
        <img src="../../../assets/photos/teaser/cat.jpg" class="picture">
        <div class="text-info">
            <span>Christmas special: All, what you need!</span>
            <a href="">Order now!</a>
        </div>
    </div>
</div>
